@use "../style/base" as b;

.about-container {
  @include b.FlexColCenter;
  align-items: flex-start;
  padding-right: 10%;
  padding-left: 10%;
}

.about-text {
  color: b.$mgrey;
  margin-top: 2.5rem;

  &--alert {
    margin-top: 1em;
    font-style: italic;
    color: b.$morange;
  }
}
