@use "../style/base" as b;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.contact-info {
  @include b.FlexColCenter;
  align-items: flex-start;
  &__hello {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  &__header {
    margin-bottom: 0.3rem;
  }
  &__text {
    margin-bottom: 1.5rem;
  }
  &-icons {
    @include b.FlexRowCenter;
    .bi {
      width: 1em;
      height: 1em;
      font-size: 30px;
      margin-right: 0.3em;
      color: b.$morange;
    }
    .bi-linkedin {
      color: b.$bkgblue;
    }
  }
}
