@use "../style/base" as b;
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  font-family: "Montserrat";
  background-color: b.$mgrey;
}

.header-container {
  @include b.FlexColCenter;
  background-color: b.$bkgblue;
}

.main-container {
  @include b.FlexColCenter;

  &__left {
    @include b.FlexColCenter;
    width: 100vw;
    &--middle {
      @include b.FlexColCenter;
      justify-content: flex-start;
      padding-top: 30vh;
      background-color: b.$bkgblue;
      height: 100vh;
      width: 100vw;
    }
  }
  &__right {
    @include b.FlexColCenter;
    width: 100vw;
  }
}
