@use "../style/base" as b;

a {
  text-decoration: none;
  color: b.$mgrey;
}

.navigation-container {
  @include b.FlexColCenter;
  width: 100%;
}

.nav {
  width: 100%;
  @include b.FlexRowCenter;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem;

  &__item {
    :hover {
      color: b.$morange;
    }
  }
}
