@use "../style/base" as b;

.page-title {
  @include b.FlexColCenter;
  align-items: flex-end;
  color: b.$morange;
  &__title {
    font-weight: normal;
  }
  &__desc {
    font-weight: normal;
  }
}
