@font-face {
  font-family: Montserrat;
  src: url(../src/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat-light;
  src: url(../src/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}
